
.background {
    height: 90vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    padding-top: 30px;
}
#left-column { 
    width: 20%;
}
#right-column {
    /* background: url("../img/bg01.png") no-repeat;
    opacity: 0.5;
    filter: alpha(opacity=50); */
    background-image: linear-gradient(to right bottom,
    rgba(74, 144, 226, 0.6),
    rgba(74, 144, 226, 0.6)), url(../img/bg01.png);
    background-size: cover;
	float: right;
    width: 80%;
    color: black;
}
.space {
    padding: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#bigsize {
    font-size: 50px;}

.main-nav {
    /* float: right; */
    margin-left: 90%;
}
.main-nav li {
    list-style: none;
    padding-bottom: 10px;
    padding-bottom: 20px;
}
.main-nav img {
    padding: 0px 30px;
}
#flexbox {
    display: flex;
    /* padding-top: 200px; */
}
#big-text {
    padding-top: 120px;
    padding-left: 50px;
    width: 60%;
    color: white;
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.61);
    font-family: Arial, Helvetica, sans-serif;
}
#big-text h1{
    animation-name: moveInTop;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes moveInTop {
    0% {
      opacity: 0;
      transform: translateY(-10rem); }
    80% {
      transform: translateY(0.5rem); }
    100% {
      opacity: 1;
      transform: translate(0); } }

.boldfont {
    font-weight: bold;
}
#left-bottom {
    /* padding-top: 120px; */
    position: absolute;
    bottom: 10px;
}
#left-bottom a{
    padding-left: 10px;
}
#right-bottom {
    padding-left: 50px;
    position: absolute;
    bottom: 5px;
    color: #4a90e2;
}
#small-text {
    padding-right: 50px;
    float: right;
    width: 30%;
    color: white;
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.61);
    text-indent: 50px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;

    animation-name: moveInTop;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}
.background p {
    margin-bottom: 50px;}
.btn {
    margin-top: 10px;
    margin-bottom: 10px; 
    margin-left: 10px;
    padding: 10px 40px;
    font-size: 15px;
    background-color:white;
    border-radius: 30px;
    outline: none;

}
.btn:link, .btn:visited {
    text-decoration: none;
    color: #4a90e2;
    font-weight: bold;
}



.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px 13px;
    background: #fff;
    border-radius: 5px;
    width: 66%;
    position: relative;
    transition: all 5s ease-in-out;
    text-align: center;
    border-radius: 2px;
    outline: 1rem solid #4a90e2;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #4a90e2;
    text-shadow: none;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #4a90e2;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
    text-shadow: none;
    display: flex;
    
  }

  .popup .contentright {
      width: 50%;
      float: right;
      padding-top: 50px;
      line-height: 1;
      
  }
  .popup .contentright h2 {
      font-size: 50px;
      font-family: Arial, Helvetica, sans-serif;
      
  }


#textbox1{
    padding: 30px 20px;
    width: 400px;}
.textbox { 
    /* background: rgba(216, 216, 216, 0.3);  */
    border: 1px double #979797; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #333; 
    color: #4a90e2; 
    outline: none; 
    height: 35px; 
    width: 375px;
    text-align: center;
    font-size: 15px;
    margin: 8px 0;
    float: right;}

    .button {
        background-color: #4a90e2;
        border: none;
        color: white;
        font-size: 20px;
        border-radius: 5px;}